@defer (when addon()) {
<div class="flex flex-1 gap-2 w-full h-full p-2">
  <!-- Menu -->
  <ul class="menu bg-base-200 w-56 rounded-box">
    <li><a class="active">Configuration</a></li>
    <li><a href="{{ addon().infoUrl }}" target="_blank">Docs</a></li>
  </ul>

  <!-- Card -->
  <div class="card shadow bg-base-200 w-full h-full">
    <div class="card-body p-4 w-full h-full">
      <div class="flex justify-between items-center">
        <h2 class="card-title">{{ addon().fancyName }}</h2>

        <div class="flex gap-2">
          <button
            class="btn btn-primary btn-sm"
            (click)="deployAddon()"
            [disabled]="form.invalid"
          >
            Create
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-2 mt-2 w-full h-full px-2 overflow-auto">
        <form [formGroup]="form" class="h-full max-h-0">
          <div class="mt-2 grid grid-cols-2 gap-2 items-center">
            <label for="name" class="font-bold">Name</label>
            <div class="flex flex-col">
              <input
                name="name"
                id="name"
                class="input input-bordered w-full"
                [ngClass]="{
                  'input-error': f['name'].touched && f['name'].errors
                }"
                formControlName="name"
              />
              @if (f['name'].touched && f['name'].errors) {
              <div class="label">
                <span class="text-error">Name is required</span>
              </div>
              }
            </div>
          </div>

          <div class="mt-2 grid grid-cols-2 items-center">
            <label for="description" class="font-bold">Description</label>
            <textarea
              name="description"
              id="description"
              class="textarea textarea-bordered w-full"
              formControlName="description"
            ></textarea>
          </div>

          <div class="mt-2 grid grid-cols-2 items-center">
            <label for="image" class="font-bold">Image</label>
            <input
              name="image"
              id="image"
              class="input input-bordered w-full"
              [value]="addon().image"
              disabled
            />
          </div>

          <div class="mt-2 grid grid-cols-2 items-center">
            <label for="version" class="font-bold">Version</label>
            <div class="dropdown">
              <div
                name="version"
                id="version"
                tabindex="0"
                role="button"
                class="btn btn-active justify-start w-full m-1"
              >
                {{ selectedVersion() }}
              </div>
              <ul
                tabindex="0"
                class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-full"
              >
                @for (version of addon().versions; track $index) {
                <li
                  [ngClass]="{
                    'bg-base-200 rounded-btn':
                      selectedVersion() === version.version
                  }"
                >
                  <a>{{ version.version }}</a>
                </li>
                }
              </ul>
            </div>
          </div>

          <div class="mt-2 grid grid-cols-2 items-center">
            <label for="name" class="font-bold">Port</label>
            <div class="flex flex-col">
              <input
                name="name"
                id="name"
                [ngClass]="{
                  'input-error': f['port'].touched && f['port'].errors
                }"
                class="input input-bordered w-full"
                type="number"
                formControlName="port"
              />
              @if (f['port'].touched && f['port'].errors) {
              <div class="label">
                <span class="text-error">Port is required</span>
              </div>
              }
            </div>
          </div>

          @if (addon().envs) {
          <div class="divider divider-start mt-12">
            <span class="font-bold text-xl">Env variables</span>
          </div>
          @for (env of addon().envs; track $index) {
          <div class="mt-2 grid grid-cols-2 items-center">
            <div class="flex items-end">
              <label for="env-{{ env.key }}" class="font-bold">{{
                env.key
              }}</label>

              <div class="dropdown dropdown-right">
                <div
                  tabindex="0"
                  role="button"
                  class="btn btn-circle btn-ghost btn-xs text-info"
                >
                  <svg
                    tabindex="0"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="w-4 h-4 stroke-current outline-none"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </div>
                <div
                  tabindex="0"
                  class="card compact dropdown-content z-[1] shadow bg-base-100 rounded-box w-64"
                >
                  <div tabindex="0" class="card-body">
                    <p>{{ env.explanation }}</p>
                  </div>
                </div>
              </div>

              @if (env.optional) {
              <span class="font-light italic">Optional</span>
              }
            </div>

            <div class="flex flex-col">
              <input
                name="env-{{ env.key }}"
                id="env-{{ env.key }}"
                [ngClass]="{
                  'input-error': f[env.key].touched && f[env.key].errors
                }"
                class="input input-bordered w-full"
                formControlName="{{ env.key }}"
              />
              @if (f[env.key].touched && f[env.key].errors) {
              <div class="label">
                <span class="text-error">{{ env.key }} is required</span>
              </div>
              }
            </div>
          </div>
          } } @if (addon().volumes) {
          <div class="divider divider-start mt-12">
            <span class="font-bold text-xl">Volumes</span>
          </div>
          @for (volume of addon().volumes; track $index) {
          <div class="mt-2 grid grid-cols-2 items-center">
            <label for="env-{{ volume.path }}" class="font-bold">{{
              volume.path
            }}</label>
            <div class="flex flex-col">
              <input
                name="env-{{ volume.path }}"
                id="env-{{ volume.path }}"
                [ngClass]="{
                  'input-error': f[volume.path].touched && f[volume.path].errors
                }"
                class="input input-bordered w-full"
                formControlName="{{ volume.path }}"
              />
              @if (f[volume.path].touched && f[volume.path].errors) {
              <div class="label">
                <span class="text-error">{{ volume.path }} is required</span>
              </div>
              }
            </div>
          </div>
          } }
        </form>
      </div>
    </div>
  </div>
</div>
} @loading {
<span class="loading loading-spinner text-secondary"></span>
}
