@defer (when logs()) {
<div class="card flex-1 bg-base-200">
  <div class="card-body">
    <div class="flex items-center justify-between">
      <span class="loading loading-spinner loading-xs"></span>
      <button class="btn btn-sm btn-secondary w-32 self-end">Follow logs</button>
    </div>
    <div class="mockup-code bg-transparent text-base-content p-0">
      <pre data-prefix="1"><code>npm i daisyui</code></pre>
      <pre data-prefix="2"><code>installing...</code></pre>
      <pre data-prefix="3"><code>Done!</code></pre>
    </div>
  </div>
</div>
} @loading {
<app-loader />
} @error {
<p class="text-gray-500 dark:text-gray-400">Deployment not found</p>
}
