<div class="h-full overflow-auto p-2">
  <div class="flex flex-1 items-center justify-between">
    <h2 class="text-xl font-semibold">Databases</h2>

    <p-button icon="pi pi-plus" iconPos="left" routerLink="/databases/create"></p-button>
  </div>

  <div class="mt-4 h-full">
    <p-dataView
      [value]="databases()"
      [loading]="loading()"
      [paginator]="true"
      [rows]="3"
      class="flex rounded-sm"
      styleClass="mb-2 rounded-sm shadow flex flex-col flex-1"
    >
      <ng-template pTemplate="header">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </ng-template>

      <ng-template class="flex flex-col gap-2 h-full max-h-0" pTemplate="list">
        @for (database of databases(); track database.name) {
          <p-card
            styleClass="border-b shadow rounded-none p-0"
            [style]="{ backgroundColor: 'var(--surface-card)' }"
          >
            <div class="grid grid-cols-3 items-center gap-2">
              <img
                class="w-32 h-32 justify-self-center"
                [src]="database.icon"
                [alt]="database.fancyName"
              />
              <div class="flex flex-col">
                <div class="font-semibold text-lg">{{ database.fancyName }}</div>
                <div class="text-xs">{{ database.description }}</div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center">
                  <span>Image:</span>
                  <a
                    href="https://hub.docker.com/_/{{ database.image }}"
                    pButton
                    type="button"
                    [label]="database.image"
                    class="p-button-link p-1"
                  ></a>
                </div>
                <div class="flex flex-wrap items-center gap-2">
                  Versions:
                  @for (version of database.versions; track $index) {
                    <p-chip [label]="version.version"></p-chip>
                  }
                </div>
              </div>
            </div>
          </p-card>
        }
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state> {{ state.first }} page</ng-template>
      <ng-template pTemplate="paginatorright"> </ng-template>

      <ng-template let-item pTemplate="paginatordropdownitem">
        {{ item.value }} - per page
      </ng-template>
    </p-dataView>
  </div>
</div>
