<div class="flex flex-col flex-1 w-full h-full sm:px-6">
  <h1 class="font-semibold text-xl">New deployment</h1>

  <div class="flex flex-col gap-2 mt-8">
    <app-card>
      <div class="grid gap-8">
        <div>
          <h2 class="text-lg font-semibold">Basic Information</h2>
          <div class="grid gap-4 mt-4">
            <div class="space-y-2">
              <label for="deployment-name" class="block text-sm font-medium mb-2 dark:text-white">
                Deployment name
              </label>
              <input
                type="text"
                id="deployment-name"
                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm shadow-sm focus:border-purple-500 focus:ring-purple-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                placeholder="My very cool deployment"
              />
            </div>
            <div class="space-y-2">
              <label for="image-name" class="block text-sm font-medium mb-2 dark:text-white">
                Image name
              </label>
              <input
                type="text"
                id="image-name"
                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm shadow-sm focus:border-purple-500 focus:ring-purple-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                placeholder="nginx:latest"
              />
            </div>
          </div>
        </div>
        <div>
          <h2 class="text-lg font-semibold">Scaling Options</h2>
          <div class="grid gap-4 mt-4">
            <div class="space-y-2">
              <label for="replicas" class="block text-sm font-medium mb-2 dark:text-white">
                Number of replicas
              </label>
              <!-- Input Number -->
              <div
                class="py-2 px-3 border shadow rounded-lg dark:bg-slate-700"
                data-hs-input-number
              >
                <div class="w-full flex justify-between items-center gap-x-5">
                  <div class="grow">
                    <input
                      class="w-full p-0 bg-transparent border-0 text-gray-800 focus:ring-0 dark:text-white"
                      type="text"
                      value="1"
                      data-hs-input-number-input
                    />
                  </div>
                  <div class="flex justify-end items-center gap-x-1.5">
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-decrement
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-increment
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Input Number -->
            </div>
            <div class="space-y-2">
              <label for="replicas" class="block text-sm font-medium mb-2 dark:text-white">
                Memory (Mb)
              </label>
              <!-- Input Number -->
              <div
                class="py-2 px-3 border shadow rounded-lg dark:bg-slate-700"
                data-hs-input-number
              >
                <div class="w-full flex justify-between items-center gap-x-5">
                  <div class="grow">
                    <input
                      class="w-full p-0 bg-transparent border-0 text-gray-800 focus:ring-0 dark:text-white"
                      type="text"
                      value="548"
                      data-hs-input-number-input
                    />
                  </div>
                  <div class="flex justify-end items-center gap-x-1.5">
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-decrement
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-increment
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Input Number -->
            </div>
            <div class="space-y-2">
              <label for="replicas" class="block text-sm font-medium mb-2 dark:text-white">
                Cpu (Mpc)
              </label>
              <!-- Input Number -->
              <div
                class="py-2 px-3 border shadow rounded-lg dark:bg-slate-700"
                data-hs-input-number
              >
                <div class="w-full flex justify-between items-center gap-x-5">
                  <div class="grow">
                    <input
                      class="w-full p-0 bg-transparent border-0 text-gray-800 focus:ring-0 dark:text-white"
                      type="text"
                      value="1000"
                      step="500"
                      data-hs-input-number-input
                    />
                  </div>
                  <div class="flex justify-end items-center gap-x-1.5">
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-decrement
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-increment
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Input Number -->
            </div>
            <!-- End scaling -->
          </div>
        </div>
        <div>
          <h2 class="text-lg font-semibold">Advanced Settings</h2>
          <div class="grid gap-4 mt-4">
            <div class="space-y-2">
              <label for="expose-network" class="block text-sm font-medium mb-2 dark:text-white">
                Expose to network
              </label>
              <input
                type="checkbox"
                id="hs-basic-usage"
                class="relative w-[3.25rem] h-7 p-px bg-gray-100 border-transparent text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:ring-purple-600 disabled:opacity-50 disabled:pointer-events-none checked:bg-none checked:text-purple-600 checked:border-purple-600 focus:checked:border-purple-600 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-purple-500 dark:checked:border-purple-500 dark:focus:ring-offset-gray-600 before:inline-block before:w-6 before:h-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:rounded-full before:shadow before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-gray-400 dark:checked:before:bg-blue-200"
              />
            </div>
            <div class="space-y-2">
              <label for="replicas" class="block text-sm font-medium mb-2 dark:text-white">
                Port
              </label>
              <!-- Input Number -->
              <div
                class="py-2 px-3 border shadow rounded-lg dark:bg-slate-700"
                data-hs-input-number
              >
                <div class="w-full flex justify-between items-center gap-x-5">
                  <div class="grow">
                    <input
                      class="w-full p-0 bg-transparent border-0 text-gray-800 focus:ring-0 dark:text-white"
                      type="text"
                      value="8080"
                      data-hs-input-number-input
                    />
                  </div>
                  <div class="flex justify-end items-center gap-x-1.5">
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-decrement
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="w-6 h-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      data-hs-input-number-increment
                    >
                      <svg
                        class="flex-shrink-0 w-3.5 h-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Input Number -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
          type="submit"
        >
          Create Deployment
        </button>
      </div>
    </app-card>
  </div>
</div>
