<form [formGroup]="form" class="flex flex-col gap-4 w-full mt-2" (ngSubmit)="handleSubmit()">
  <p-card [header]="'General'" styleClass="shadow">
    <div class="field">
      <label for="name" class="block">Name</label>
      <input
        id="name"
        type="name"
        aria-describedby="name-help"
        pInputText
        formControlName="name"
        class="w-full"
      />
      <small id="name-help" class="block"
        >Choose a descriptive name for this application. Must be between 1-30 characters and consist
        of alphabets (A-Z a-z), numbers (0-9) and spaces ( ).</small
      >
    </div>

    <div class="field mt-4">
      <label for="description" class="block">Description</label>
      <textarea pInputTextarea formControlName="description" class="w-full"></textarea>
      <small id="description-help" class="block">Optional.</small>
    </div>
  </p-card>

  <p-card [header]="'Docker'" styleClass="shadow">
    <div class="grid grid-cols-2 gap-2">
      <div class="field">
        <label for="image" class="block">Docker image</label>
        <input
          id="image"
          type="text"
          aria-describedby="image-help"
          pInputText
          formControlName="image"
          class="w-full"
        />
        <small id="image-help" class="block"
          >Application image will be pulled from this registry. Currently only Docker registry is
          supported.</small
        >
      </div>

      <div class="field">
        <label for="version" class="block">Image version</label>
        <input
          id="version"
          type="text"
          aria-describedby="version"
          pInputText
          formControlName="version"
          class="w-full"
        />
      </div>
    </div>
  </p-card>

  <p-card [header]="'Deployment'" styleClass="shadow">
    <div class="flex flex-col gap-2">
      <div class="field">
        <label for="version" class="block">Replicas</label>
        <p-inputNumber
          formControlName="replicas"
          [showButtons]="true"
          [step]="1"
          [min]="1"
        ></p-inputNumber>
      </div>

      <div class="field">
        <label for="version" class="block">Memory (Mb)</label>
        <p-inputNumber
          formControlName="memory"
          [showButtons]="true"
          [step]="256"
          [min]="256"
        ></p-inputNumber>
      </div>

      <div class="field">
        <label for="version" class="block">Cpu (mcpu)</label>
        <p-inputNumber
          formControlName="cpu"
          [showButtons]="true"
          [step]="150"
          [min]="150"
        ></p-inputNumber>
      </div>
    </div>
  </p-card>

  <p-card [header]="'Environment variables'" styleClass="shadow">
    <div class="flex flex-col gap-2">
      <div formArrayName="env" class="flex flex-col gap-2">
        @for (envField of env.controls; track envField; let indx = $index) {
          <div [formGroupName]="indx" class="grid grid-cols-7 items-end gap-2">
            <div class="field col-span-3">
              <label for="key" class="block">ENV_VARIABLE_KEY</label>
              <input
                id="key"
                type="text"
                aria-describedby="key"
                pInputText
                formControlName="key"
                class="w-full"
              />
            </div>

            <div class="field" class="field col-span-3">
              <label for="value" class="block">ENV_VARIABLE_VALUE</label>
              <input
                id="value"
                type="text"
                aria-describedby="value"
                pInputText
                formControlName="value"
                class="w-full"
              />
            </div>

            <p-button icon="pi pi-trash" iconPos="left" (click)="removeEnvField(indx)"></p-button>
          </div>
        }
      </div>

      <p-button icon="pi pi-plus" iconPos="left" (click)="addEnvField()"></p-button>
    </div>
  </p-card>

  <p-card [header]="'Volumes'" styleClass="shadow">
    <div class="flex flex-col gap-2 mt-2">
      <div formArrayName="volumes" class="flex flex-col gap-2">
        @for (volume of volumes.controls; track volume; let indx = $index) {
          <div [formGroupName]="indx" class="grid grid-cols-7 gap-2">
            <div class="field col-span-3">
              <label for="key" class="block">Container path</label>
              <input id="key" type="text" aria-describedby="key" pInputText formControlName="key" />
            </div>

            <div class="field col-span-3">
              <label for="value" class="block">Read/Write</label>
              <p-inputSwitch formControlName="value"></p-inputSwitch>
            </div>

            <p-button
              icon="pi pi-trash"
              iconPos="left"
              (click)="removeVolumeField(indx)"
            ></p-button>
          </div>
        }
      </div>

      <p-button icon="pi pi-plus" iconPos="left" (click)="addVolumeField()"></p-button>
    </div>
  </p-card>
  <p-button type="submit" label="Create" styleClass="w-full" [disabled]="form.invalid"></p-button>
</form>
